@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

html {
    font-size: 100%;
}

body {
    background: transparent url(/background-mini.jpg) center center;
}

.font-c2ym {
    font-family: var(--font-c2ym);
}

@layer components {
    .main-col {
        position: relative;
        background-color: #36373C;
        background-size: contain;
        box-shadow: 0 0 10px 16px #00000080;
        
        @apply grid relative mx-auto max-w-[80rem] overflow-x-clip;
    }

    .main-col::before {
        content: '';
        background-image: url(/dots.png);

        @apply absolute inset-0 pointer-events-none opacity-30 z-0 bg-contain -scale-x-100;
    }

    .main-content {
        position: relative;
        z-index: 10;
    }
}